/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #eee;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('fondo.jpg') center/cover no-repeat;
    padding: 0 20px;
}

header {
    background: rgba(34, 34, 34, 0.9);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    margin: 20px 0;
    background: rgba(34, 34, 34, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #610000;
}

section img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background: rgba(34, 34, 34, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividad */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    header h1 {
        font-size: 2rem;
    }

    section img {
        max-width: 100px;
    }
}
